// main: ./dh2e-comm.less
.dh2e-comm.sheet.characterSheet {

    // This is the Class for the main character sheet.
    .sheet{
        width: 500px;
        height: 500px;
    };
    // This is the Class for the second sheet.
    .sheet2{
        width: 480px;
        height: 480px;
    };

}